@charset "utf-8";
/* CSS Document */

body{background-color:#3498db;}
.myform{margin-top:10rem;
background-color:#fff;
padding:2rem;
border-radius:1rem;
box-shadow:0 0 15px -2px rgba(0,0,0,.7);
}
.form-control{
	padding:2rem;
}
.form-control:first-of-type{
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.form-control:last-of-type{
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.btn-login{background-color:#34495e;}